.orders2{
    display:inline;
    padding:30px;
    text-align:center;
    align-items:center;
    margin-top:-650px;
    margin-left:350px;
}
.order-3{
    display:inline;
}
.table{
    margin-top:-200px;
    margin-left:350px;
    /* padding:20px; */
}
.table1{
    margin-top:-300px;
    width: 100%;
    margin-left:550px;
    
}
@media only screen and (max-width: 576px) {
    /* .banner-overlayy {
      width:20%;
      margin-right:160px;
    } */
    .table{
        margin-top: -330px;
        position: relative;
        /* margin-left: -850px; */
    }
    .table-one{
        margin-right:260px ;
    }
  }
/* .status{
    margin-left: -150px;
} */


/* .all-order{

} */