.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }
  
  .banner-main{
      background-image: url('https://media.istockphoto.com/photos/ecofriendly-tubes-and-bottles-from-the-natural-wood-and-brown-glass-picture-id1302853050?b=1&k=20&m=1302853050&s=170667a&w=0&h=Dc7B_CVGMNzcN4KRfnFSvBV4oyl2dIQOwggvqS_zpD4=');
      /* background-repeat: no-repeat; */
      width: 100%;
     background-size: cover;
     background-position: center;
  }

  .txt1{
    text-decoration: none;
  }
  .form-control{
    width: 350px;
   padding: 10px;
  }
  .signIn{
   /* padding-left: 270px; */
   width: 340px;
   margin-left:5px;
  }
  .reg-one{
    text-decoration: none;
  }
  
  /* .label-two{
    width: 100%;
  } */