.dashboard {
    background-color: rgba(14, 213, 240, 0.925);
    height: 100vh;
    color: white;
    cursor: pointer;
    margin-bottom: 84px;
    margin-top: -48px;
    text-decoration: none;
    margin-right: 0px;
    width: 100%;
    
  }

  .main-dashboard{
    background-color: #0011ff;
    width:20%;
    height:600px;
    /* position: relative; */
     
  
   
  }
  .dashboard-menu {
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    
  }
  .dashboard-menu:hover {
    color: cyan;
  }
  
  li{
    text-decoration: none;
    color: #fff;
  }

  .dec-1{
    text-decoration: none;
    
  }

  .das{
    margin-right: 10px;
    color:black;
  }
  .das-1{
    margin-right: 5px;
    color:black;
  }
  .book{
    margin-left: 10px;
  }
  .pay{
    margin-right: 28px;
  }
 
 .abul{
   text-decoration: none;
 }

 .das-2{
  margin-right: 40px;
  color:black;
 }

 .review{
  margin-left: -10px;
 } 

 /* ========================================= */

 

 /* .dashboard{
   margin-top: -80px;
 } */
/* ============================================= */
 /* .main-dashboard {
  min-height: 100vh;
  overflow-x: hidden;
}
.main-dashboard .dash-container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #287bff;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover {
  background: #fff;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navigation ul li:hover a {
  color: #287bff;

}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li Link .abul {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li:hover Link::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none; 
}
.navigation ul li:hover Link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none; 
}
@media (max-width: 991px) {
  .navigation {
      left: -300px;
  }
} */
 /* .outlet1{
   margin-top: -600px;
   margin-left: 400px;
 } */

 @media (max-width: 991px) {
  main-dashboard {
      right: -600px;
  }
}

  @media only screen and (max-width: 600px) {
    main-dashboard {
      width: 100%;
    }
  }
  @media only screen and (max-width: 600px) {
    dashboard {
      width: 100%;
    }
  } 