.section-header{
    margin-left: -860px;
    font-family: 'Poppins', sans-serif;
    font-weight:50;
    color: palevioletred;
}
.latest{
    margin-left: -60px;
}
.homecard{
    margin-top:100px;
}

.horizontal{
    width:100%;
    font-weight: 400;
    padding: 1px;
    background-color: white;
    /* margin-left:30px; */
}

.since{
    margin-right:auto;
    margin-top: -306px;
    color: white;
    padding:5px;
    background-color: rgb(245, 38, 100);
}

.card-body1{
    margin-top:250px;
}

.card-title23{
    margin-right: 140px;
    font-size: 22px;
}

.card-title24{
    margin-left:-156px;
}

.nails{
    display: inline;
}

.card-text5{
    /* margin-right:10px; */
    margin-left:15px;
    margin-top:-35px;
}

.border-title {
    text-align: left;

}

.border-title h2, .border-title .h2 {
    font-family: Poppins;
}
.blog-post-type-12 .nav_blog_sec {
    position: absolute;
    top: 0%;
    right: 0;
}

@media only screen and (max-width:576px) {
    /* For mobile phones: */
    .nails {
      display: inline-block;
      font-size:11px;
      margin-left:17px;
      
    }
    .home-card{
        width: 100%;
    }
    .card-img-top{
        width: 100%;
        height: 100%;
        
        /* overflow: hidden; */
        /* margin-left: 30px; */
    }
    .since{
        margin-top: -192px;
    }
    .extra-card{
        grid-template-columns:max-content(1);
    }
    .card-body1{
        margin-top:140px;
    }
   
  }