.section-header{
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight:50;
    color: palevioletred;
}
.latest{
    margin-left: -60px;
}
.homecard{
    margin-top:100px;
}

.horizontal{
    width:100%;
    font-weight: 400;
    padding: 1px;
    background-color: white;
    /* margin-left:30px; */
}

.since{
    margin-right:auto;
    margin-top: -306px;
    color: white;
    padding:5px;
    background-color: rgb(245, 38, 100);
}

.card-body1{
    margin-top:250px;
}

.card-title23{
    margin-right: 140px;
    font-size: 22px;
}

.card-title24{
    margin-left:-156px;
}

.nails{
    display: inline;
}

.card-text5{
    /* margin-right:10px; */
    margin-left:15px;
    margin-top:-35px;
}

.border-title {
    text-align: left;

}

.border-title h2, .border-title .h2 {
    font-family: Poppins;
}
.blog-post-type-12 .nav_blog_sec {
    position: absolute;
    top: 0%;
    right: 0;
}

/* .grid, .grid--rev, .grid--full, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
}
.owl-prev, .owl-next {
    margin: 0;
    padding: 0;
}
.owl-prev, .owl-next {
    float: left;
    z-index: 1;
    padding: 0;
}
.blog-post-type-12 .nav_blog_sec .owl-next a {
    border-left: none;
}
.owl-prev a, .owl-next a {
    z-index: 1;
    cursor: pointer;
    padding: 0;
}
.owl-prev a, .owl-next a {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
}
a.btn, a.btn--secondary, a.btn--tertiary {
    webkit-transition-timing-function: linear;
}
.btn, .btn--secondary, input.btn--secondary, .btn--tertiary, input.btn--tertiary, input[type="submit"], .dt-sc-button, .shopify-payment-button .shopify-payment-button__button--unbranded {
    display: inline-block;
    padding: 11px 22px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    outline: none;
    line-height: normal;
} */