.banner-main34{
    background-color: rgba(128, 128, 128, 0.164);
}


.card-33{
    display:block;
    margin-left: 14px;
}

.footer{
    /* background-color: rgba(128, 128, 128, 0.164); */
    margin-top:140px;
}

/* .card-body{
    background-color: rgba(128, 128, 128, 0.164);
} */

.span4{
    display:block;
    display:inline;
    margin-right:-43px;

}

.phone78{
    color:rgb(224, 10, 10);
}
/* .card-text33{
    
} */