.banner-main34{
    background-color: rgba(128, 128, 128, 0.164);
}


.card-33{
    display:block;
    margin-left: px;
}

.footer{
    /* background-color: rgba(128, 128, 128, 0.164); */
    margin-top:140px;
}

/* .card-body{
    background-color: rgba(128, 128, 128, 0.164);
} */

.span4{
    display:block;
    display:inline;
    margin-right:-43px;

}

.phone78{
    color:rgb(224, 10, 10);
}
.text-hlp{
    margin-right: 15px;
}
.text-inform{
    margin-left: 30px;
}
.text-policy{
    margin-left:37px;
}
.text-details{
    margin-left:54px;
}
.text-us{
    margin-right: 12px;
}
.text-us:hover{
    color:rgb(243, 31, 66);
}
.text-about{
    margin-right:21px;
}
.text-about:hover{
    color:rgb(243, 31, 66);
}
.text-car{
    margin-right:37px;
}
.text-car:hover{
    color:rgb(243, 31, 66);
}
.text-refunds{
    margin-left: 40px;
}
.text-refunds:hover{
    color:rgb(243, 31, 66);
}
.text-deliver{
    margin-right:25px;
}
.text-deliver:hover{
    color:rgb(243, 31, 66);
}
.text-seracrch{
    margin-right:45px;
}
.text-seracrch:hover{
    color:rgb(243, 31, 66);
}
.text-advan{
    margin-right:20px;
}
.text-advan:hover{
    color:rgb(243, 31, 66);
}
.text-help{
    margin-right:50px;
}
.text-help:hover{
    color:rgb(243, 31, 66);
}
.text-store{
    margin-right:40px;
}
.text-store:hover{
    color:rgb(243, 31, 66);
}
.text-order{
    margin-right:20px;
}
.text-order:hover{
    color:rgb(243, 31, 66);
}
.text-error{
    margin-right:10px;
}

.text-indivi{
    margin-right:40px;
}
.text-usert{
    margin-right:40px;
}
.changes{
    margin-right:-30px;
}
.changes{
    margin-right:67px;
}

.session{
    margin-right:20px;
}

.reason{
    margin-right:95px;
}
.one:hover{
    color:rgb(243, 31, 66);
}
.text-inform:hover{
    color:rgb(243, 31, 66);
}
.text-policy:hover{
    color:rgb(243, 31, 66);
}
.text-details:hover{
    color:rgb(243, 31, 66);
}
.bg-two{
    background-color: #ef2853;
    padding:15px;
}
.credit-icon{
    font-size: 29px;
    text-align: left;
    margin-left:120px;
    
}
.first-one{
    color: rgb(3, 3, 45);
}
.first-second{
    color: rgba(255, 255, 0, 0.561);
}
.first-thierd{
    color:rgba(102, 51, 153, 0.632);
}
.twt{
    margin-left:820px;
    font-size: 17px;
    border:1px solid white;
    padding:4px;
    color:white;
}
.twt:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}
.fac{
    font-size: 17px;
    border:1px solid white;
    padding:4px;
    color:white;
}
.fac:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}
.gol{
    font-size: 17px;
    border:1px solid white;
    padding:4px;
    color:white;
}
.gol:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}
.tel{
    font-size: 17px;
    border:1px solid white;
    padding:4px;
    color:white;
}
.tel:hover{
    background-color:rgb(255, 255, 255);
    color:black;
}