.review-section{
    margin-top:-250px;
    margin-left:400px;
    
}
.name-one{
    width:300px; 
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}
.name-one:focus{
    border: 2px solid rgba(0, 206, 158, 1);
}
.textarea-two{
    width:300px; 
    border-radius:5px ;
    border: 1px solid rgb(220, 220, 220);
}
.textarea-two:focus{
    border: 2px solid rgba(0, 206, 158, 1);
}
.names-three{
    margin-left:8px;
}
.btn-three{
    margin:10px;
    /* margin-top: -10px; */
}
.from-two{
    background: black;
}
